body {font-family: Arial, Helvetica, sans-serif;

}
main{
    margin: 30px 100px;
    
}
form {
    margin:  50px 35px;  
}

label, button{
    display: block;
}
label{
    margin: 5px 0px;
}
button {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    width: 200px;
    border-radius: 10px;
    background-color: #3cd508;
    color:#FFFFFF;
}
h1 {
    color: #101010;
    text-shadow: 1px 1px 1px #16161d;
}

button:hover {
    background-color: #ffffff;
    color: #ddeb43;
    transition: 0.5s ease;
}
input, select {
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #717571;

}
input:focus, select:focus{
    border-bottom: 2px solid #9ad94c;
    transition: 0.5s ease;
}
select {
    background-color: #FFFFFF;
    }

        .nome{
            width: 500px;
    }
        .data-nascimento{
            width : 200px;
        }
        .altura {
            width: 75px;
        }
        .genero {
            width: 250px;
        }
        
        .religiao {
             width: 75px;
        }
    
        .ocupação {
             width: 75px;
        }

         .filme{
            width: 500px;
    }
        .time{
            width : 200px;
        }
        .comida {
            width: 75px;
        }
        .tipo de role {
            width: 250px;
        }
        
        .esporte {
             width: 75px;
        }
    
        .estilo musical {
             width: 75px;
        }
